/terraform.tfvars
/.terraform/
/.terraform.lock.hcl
/terraform.tfstate
/terraform.tfstate.backup
/.terraform.tfstate.lock.info
/table-recording/files/archive_deleted_*.zip
/table-recording/files/record_data_*.zip
/lambda/*/node_modules/
*.zip
