/terraform.tfvars
/.terraform/
/.terraform.lock.hcl
/terraform.tfstate
/terraform.tfstate.backup
/.terraform.tfstate.lock.info
/modules/table-recording/files/archive_deleted_*.zip
/modules/table-recording/files/record_data_*.zip
